# Neon Arjun (read/write)
DATABASE_URL=postgresql://neondb_owner:npg_ZN8HAUBy1JGR@ep-falling-term-aigbdjvp-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Neon Vida Digital (read-only)
VIDADIGITAL_DATABASE_URL=postgresql://neondb_owner:npg_PaBxIdvm6oH7@ep-lucky-butterfly-acdie4l8-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# NextAuth
NEXTAUTH_SECRET=pIFcXEgeAEo9lNfusxBlbz+AOBPBPV0eMAMeHx/maiA=
NEXTAUTH_URL=http://localhost:3000
